allowBuilds.@playwright/browser-chromium=true
allowBuilds.@swc/core=true
allowBuilds.better-sqlite3=true
allowBuilds.esbuild=true
allowBuilds.onnxruntime-node=true
allowBuilds.protobufjs=true
allowBuilds.sharp=true
